<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>X-Api-Key</key>
	<string>cufRlMjsrqRLNFTtK9J+aQ==Pq25T3zOrN757bBX</string>
	<key>BaseURL</key>
	<string>api.api-ninjas.com</string>
</dict>
</plist>
